<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.example.games.mainlibproj"
    android:versionCode="1"
    android:versionName="1.0" >

	<application>
<!-- ACTIVITIES -->
        <!--receiver android:name="com.bitmango.AlarmReceiver" android:process=":remote" /-->
        <receiver android:name="nov9.unitynotification.UnityNotificationManager"/>

<!-- PERMISSIONS -->
 </application>
</manifest >
